<?xml version="1.0"?>

<robot name="mpu6050" xmlns:xacro="http://wiki.ros.org/xacro">
  <link name="world"/>

  <link name="imu">
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1 0.8 0.5"/>
      </geometry>
      <material name="black">
        <color rgba="0.5 0.5 0.5  0.5"/>
      </material>
    </visual>
  </link>
  <link name="imu_model">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mpu6050_ros/meshes/mpu6050/mpu6050.stl" scale="0.01 0.01 0.01"/> 
      </geometry>
      <material name="darkblue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
  </link>
  <joint name="imu_to_imu_model" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="imu" />
    <child link="imu_model" />
  </joint>


  <joint name="world_to_imu" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="imu" />
  </joint>
</robot>